body#tableau-de-bord {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #007BFF; /* Couleur bleue pour l'en-tête */
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#profil {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
}

h2 {
    color: #007BFF;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}